<div class="row">
  <div class="small-2 columns">
    <h4><%= @conversation.subject.capitalize %></h4>
  </div>
  <ul class="small-10 columns">
    <%= content_tag_for(:li, @conversation.receipts_for(current_user)) do |receipt| %>
      <% message = receipt.message %>
      <h3><%= message.subject %></h3>
      <p><%= message.body %></p>
    <% end %>
  </ul>
</div>
<%= render 'messages/form' %>

